.bg_bk184{
    position: relative;
    top:-82px;
    margin-left: -1px;
    height: 1700px;
    width: 1352px;
    background-color: lightgreen;
}
.bg_bk1_084{
    position: relative;
    top:52px;
    margin-left: 20px;
    height: 82px;
    width: 200px;
    background-color: cadetblue;
    border-radius: 20px;
}
.bg_bk1_0084{
    position: relative;
    top:2px;
    margin-left: 42px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    color: white;
}
.ck184{
    position: relative;
    top:28px;
    margin-left: 226px;
    height: 1482px;
    width: 886px;
    background-color: cadetblue;
    border-radius: 20px;
}
.ck1084{
    position: relative;
    top:10px;
    margin-left: 10px;
    height: 1448px;
    width: 865px;
    background-color: lightcoral;
    border-radius: 20px;
}



.fb184{
    position: relative;
    top:12px;
    margin-left: 10px;
    height: 82px;
    width: 346px;
    background-color: cadetblue;
    border-radius: 20px;
}
.fb1084{
    position: relative;
    top:6px;
    margin-left: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    color: white;
}
.ck10084{
    position: relative;
    top:-26px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.tx184{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 39px;
}
.tx1084{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 2px;
}
.piz184{
    position:relative;
    top:-256px;
    margin-left: 546px;
    border-radius: 20%;
}
.txx184{
    position: relative;
    top : -308px;
    margin-left: 592px;
    height: 52px;
    width : 156px;
    background-color: brown;
    border-radius: 20px;
}
.txx1084{
    position: relative;
    top : -2px;
    margin-left: 20px;
    height: 52px;
    width : 156px;
    color:white;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.ck20084{
    position: relative;
    top:-58px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.tx284{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 39px;
}
.tx2084{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 2px;
}
.piz284{
    position:relative;
    top:-256px;
    margin-left: 546px;
    border-radius: 20%;
}
.txx284{
    position: relative;
    top : -308px;
    margin-left: 592px;
    height: 52px;
    width : 156px;
    background-color: brown;
    border-radius: 20px;
}
.txx2084{
    position: relative;
    top : -2px;
    margin-left: 20px;
    height: 52px;
    width : 156px;
    color:white;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.ck30084{
    position: relative;
    top:-92px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.tx384{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 39px;
}
.tx3084{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 2px;
}
.piz384{
    position:relative;
    top:-256px;
    margin-left: 546px;
    border-radius: 20%;
}
.txx384{
    position: relative;
    top : -308px;
    margin-left: 592px;
    height: 52px;
    width : 156px;
    background-color: brown;
    border-radius: 20px;
}
.txx3084{
    position: relative;
    top : -2px;
    margin-left: 20px;
    height: 52px;
    width : 156px;
    color:white;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.ck40084{
    position: relative;
    top:-126px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.tx484{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 39px;
}
.tx4084{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 2px;
}
.piz484{
    position:relative;
    top:-256px;
    margin-left: 546px;
    border-radius: 20%;
}
.txx484{
    position: relative;
    top : -308px;
    margin-left: 592px;
    height: 52px;
    width : 156px;
    background-color: brown;
    border-radius: 20px;
}
.txx4084{
    position: relative;
    top : -2px;
    margin-left: 20px;
    height: 52px;
    width : 156px;
    color:white;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.ck50084{
    position: relative;
    top:-159px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.tx584{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 39px;
}
.tx5084{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 2px;
}
.piz584{
    position:relative;
    top:-256px;
    margin-left: 546px;
    border-radius: 20%;
}
.txx584{
    position: relative;
    top : -308px;
    margin-left: 592px;
    height: 52px;
    width : 156px;
    background-color: brown;
    border-radius: 20px;
}
.txx5084{
    position: relative;
    top : -2px;
    margin-left: 20px;
    height: 52px;
    width : 156px;
    color:white;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}