.bbg_bk189{
    position: relative;
    top:-82px;
    margin-left: -1px;
    height: 1700px;
    width: 1352px;
    background-color: lightgreen;
}
.bbg_bk1_089{
    position: relative;
    top:52px;
    margin-left: 20px;
    height: 82px;
    width: 200px;
    background-color: cadetblue;
    border-radius: 20px;
}
.bbg_bk1_0089{
    position: relative;
    top:2px;
    margin-left: 42px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    color: white;
}
.bck189{
    position: relative;
    top:28px;
    margin-left: 226px;
    height: 1509px;
    width: 886px;
    background-color: cadetblue;
    border-radius: 20px;
}
.bck1089{
    position: relative;
    top:10px;
    margin-left: 10px;
    height: 1489px;
    width: 865px;
    background-color: lightcoral;
    border-radius: 20px;
}




.hdd19{
    position : relative;
    top:10px;
    margin-left: 10px;
    border-radius: 20px;
}
.bfb189{
    position: relative;
    top:-128px;
    margin-left: 128px;
    height: 82px;
    width: 419px;
    background-color: cadetblue;
    border-radius: 20px;
}
.bfb1089{
    position: relative;
    top:2px;
    margin-left: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    color: white;
}
.tn109{
    position: relative;
    top:-252px;
    margin-left: 549px;
    height: 82px;
    width: 308px;
    background-color: cadetblue;
    border-radius: 20px;
}
.tn1009{
    position: relative;
    top:2px;
    margin-left: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    color: white;
}
.tn1019{
    position: relative;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 189px;
    top: -101px;
    border-radius: 20px;
    height: 39px;
    width : 82px;
}
.bck10089{
    position: relative;
    top:-289px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.btx189{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 1px;
}
.btx1089{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -29px;
}
.bpiz189{
    position:relative;
    top:-619px;
    margin-left: 546px;
    border-radius: 20%;
}
.lx19{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -58px;
}
.bx19{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 149px;
    top: -159px;
    color: blue;
}
.bx109{
    position: relative;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 189px;
    top: -252px;
    border-radius: 20px;
    height: 39px;
    width : 82px;
}
.bx1009{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 289px;
    top: -352px;
    color:blue;
}
.bck100829{
    position: relative;
    top:-329px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.btx1829{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 1px;
}
.btx10829{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -29px;
}
.bpiz1829{
    position:relative;
    top:-619px;
    margin-left: 546px;
    border-radius: 20%;
}
.lx129{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -58px;
}
.bx129{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 149px;
    top: -159px;
    color: blue;
}
.bx1029{
    position: relative;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 189px;
    top: -252px;
    border-radius: 20px;
    height: 39px;
    width : 82px;
}
.bx10029{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 289px;
    top: -352px;
    color:blue;
}
.bck100839{
    position: relative;
    top:-368px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.btx1839{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 1px;
}
.btx10839{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -29px;
}
.bpiz1839{
    position:relative;
    top:-619px;
    margin-left: 546px;
    border-radius: 20%;
}
.lx139{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -58px;
}
.bx139{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 149px;
    top: -159px;
    color: blue;
}
.bx1039{
    position: relative;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 189px;
    top: -252px;
    border-radius: 20px;
    height: 39px;
    width : 82px;
}
.bx10039{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 289px;
    top: -352px;
    color:blue;
}
.bck100849{
    position: relative;
    top:-406px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.btx1849{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 1px;
}
.btx10849{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -29px;
}
.bpiz1849{
    position:relative;
    top:-619px;
    margin-left: 546px;
    border-radius: 20%;
}
.lx149{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -58px;
}
.bx149{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 149px;
    top: -159px;
    color: blue;
}
.bx1049{
    position: relative;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 189px;
    top: -252px;
    border-radius: 20px;
    height: 39px;
    width : 82px;
}
.bx10049{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 289px;
    top: -352px;
    color:blue;
}
.bck100859{
    position: relative;
    top:-446px;
    margin-left: 10px;
    height: 255px;
    width: 844px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.btx1859{
    position: relative;
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: 1px;
}
.btx10859{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -29px;
}
.bpiz1859{
    position:relative;
    top:-619px;
    margin-left: 546px;
    border-radius: 20%;
}
.lx159{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    top: -58px;
}
.bx159{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 149px;
    top: -159px;
    color: blue;
}
.bx1059{
    position: relative;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 189px;
    top: -252px;
    border-radius: 20px;
    height: 39px;
    width : 82px;
}
.bx10059{
    position: relative;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 289px;
    top: -352px;
    color:blue;
}
.gd19{
    position: relative;
    top: -439px;
    background-color: brown;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    margin-left: 358px;
}